html {
  background-color: #1c1c1c;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  /*Documentacion
  
  
  
  
  
  
  */
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace

  /**Documentacion
  
  
  
  
  
  **/

}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  /**Documentacion
  
  
  
  
  
  
  **/
}

/*#### INDEX PAGE ####*/

.p-text {
  font-size: 0.8rem;
  font-family:'Courier New', Courier, monospace
}
/*#### END INDEX PAGE ###*/

/*##### RESPONSIVE #####
*/

.nav-links {
  border-color: 2px solid red;
}

.nav-links a {
  /*https://developer.mozilla.org/es/docs/Web/CSS/text-transform#:~:text=La%20propiedad%20CSS%20text%2Dtransform%20especifica%20el%20cambio%20entre%20may%C3%BAsculas%20y%20min%C3%BAsculas%20del%20texto%20de%20un%20elemento.%20Puede%20ser%20usada%20para%20que%20un%20texto%20aparezca%20completamente%20en%20may%C3%BAsculas%2C%20en%20min%C3%BAsculas%2C%20o%20con%20la%20primera%20letra%20de%20cada%20palabra%20en%20may%C3%BAscula.*/
    text-transform: lowercase;
    font-size: 0.7rem;
    color: rgb(141, 141, 141);
    display: inline-block;
    padding: 15px 20px;
    /*display: block;*/
    text-align: center;
    text-decoration: None;
}
.nav-links a:hover, .nav-link a:focus {
  background-color:rgba(150, 150, 150, 0.104)
}

/*#### SIZE PHONE ####*/ 
@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburguer {
    display: None;
  }
}


/*##### FOOTER #####






*/

/*####### COMPONENTS STYLES #######*/

/*##### HAMBURGUER #######*/

.hamburguer {
  padding-right: 20x;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #29292907;
}