---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Pagina de Inicio";
---

<BaseLayout pageTitle={pageTitle}>
  <!--slot origen -->
  <h2>Este es el subtitulo del blog</h2>
  <p>Mas data inyectable</p>
</BaseLayout>