---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'
import Proyectos from '../components/Proyectos.astro'
const pageTitle = "EcodeG";
---

<BaseLayout pageTitle={pageTitle}>
  <!--slot origen -->
  <h2>Demo Beta V1</h2>
  <p><i class="i-cita">"Mas data inyectable"</i></p>


  <!-- Agregando la parte de los proyectos, componente -->

  <Proyectos/>
  
</BaseLayout>