---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'
const pageTitle = "EcodeG";
---

<BaseLayout pageTitle={pageTitle}>
  <!--slot origen -->
  <h2>Desarrollador Full Stack</h2>
  <p><i class="i-cita">"Mas data inyectable"</i></p>
</BaseLayout>