---
//Importar estilos CSS
import "../styles/global.css";
---

<!--Componente de navegacion -->
<div class="nav-links">
  <a href="/">Inicio</a>
  <a href="/about/">Sobre mi</a>
  <a href="/blog/">Blog</a>
</div>
