---
//Creando el componente de las redes sociales
const {platform, username} = Astro.props;

---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>


<!--Estilizando el componente de las redes sociales.  -->

<style>
    a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #022e41;
    text-decoration: none;
    border-radius : 16px;
  }
</style>