---
const { platform, username } = Astro.props;
import "../styles/global.css";
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    color: rgb(82, 82, 82);
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 16px;
    font-family: "Courier New", Courier, monospace;
  }
</style>
